header-height = 70px

html
  margin 0
  padding 0
body
  margin 0
  padding 0
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color #191919

ul
  padding-left 0

li
  list-style none

.container
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  display flex
  flex-direction column

.flexible-box
  display flex
  align-items center
  justify-content center
  height 100%

.join-form
  text-align center
  input
    font-size 35px
    width 100%
    border none
    border-bottom 1px solid #EAEAEA
    padding-bottom 10px

.error
  color #EF4F3E
  display block
  margin-top 10px

.main-top
  height header-height
  background-color #F2F2F2
  display flex
  flex-direction row
  color #429BD3
  font-size 12px
  .header-left
    flex 1
    flex-grow 1
    padding-left 10px
  .header-right
    flex 5
    flex-grow 5
  span
    line-height header-height
    vertical-align middle

.main-area
  border-top 1px solid #DDDDDD
  display flex
  flex-direction row
  height 100%

.channels
  flex 3
  flex-grow 3
  border-right 1px solid #DDDDDD
  ul
    margin-top 0
  .channel-title
    color #53A3D6
    margin-top 10px
    margin-bottom 0
    padding-left 7px
    font-size 16px
    border-bottom 1px solid #DDDDDD
    font-weight normal

.channel
  padding 8px 5px 8px 20px
  border-bottom 1px solid #F2F5F6
  color #B8B8B8
  position relative
  cursor pointer
  &:hover
  &.active
    color #191919
    background-color #F2F2F2
  .chat-counter
    color #52A7E1
    border-radius 20px
    font-size 10px
    padding 3px
    position absolute
    right 5px
    width 10px
    height 10px
    line-height 10px
    margin-left 10px
    text-align center

.chat
  flex 13
  flex-grow 13
  display flex
  flex-direction column
  align-self flex-end
  padding-left 0
  padding-right 50px
  .message
    padding 5px 0 10px 50px
    width 100%
    display flex
  .avatar
    width 40px
    height 40px
    border-radius 20px
    vertical-align top
    flex-grow 0
    flex-shrink 0
  .message-body
    margin 0
    padding 0 5px
    flex-basis auto
    .sender
      color #CCCCCC
      font-size 12px
    .sent-date
      color #CCCCCC
      font-size 12px
      &:before
        content "\2022"
        margin-left 3px
        margin-right 5px
    .sent-text
      display block
      margin-top 2px
  .writing
    input[type=text]
      width 90%
      font-size 1.5rem
      line-height 1.3
    input[type=submit]
      font-size 1.5rem
      line-height 1.3

.users
  flex 2
  flex-grow 2
  border-left 1px solid #DDDDDD
