<header class="main-top">
  <div class="header-left">
    <span>All channels</span>
  </div>
  <div class="header-right"></div>
</header>
<div class="main-area">
  <div class="channels">
    <div ng-repeat="s in servers" ng-class="{irc: s.irc, area: !s.irc}">
      <h3 class="channel-title">
        <span ng-if="s.irc">IRC: </span>
        {{s.server}}
      </h3>
      <ul>
        <li class="channel" ng-repeat="c in s.channels">#{{c}}</li>
      </ul>
    </div>
  </div>
  <div class="chat">
    <div class="message">
      <img src="https://avatars0.githubusercontent.com/u/390146?v=2&s=192" class="avatar">
      <p class="message-body">
        <span class="sender">Outsider</span>
        <time class="sent-date">6:00 PM</time>
        <span class="sent-text">Asnsible is awesome!!</span>
      </p>
    </div>
    <div class="message">
      <img src="https://avatars2.githubusercontent.com/u/12271?v=2&s=192" class="avatar">
      <p class="message-body">
        <span class="sender">Anarcher</span>
        <time class="sent-date">6:03 PM</time>
        <span class="sent-text">We made it.</span>
      </p>
    </div>
    <div class="message">
      <img src="https://avatars2.githubusercontent.com/u/2723?v=2&s=192" class="avatar">
      <p class="message-body">
        <span class="sender">Holman</span>
        <time class="sent-date">6:05 PM</time>
        <span class="sent-text">+1</span>
      </p>
    </div>
    <div class="message">
      <img src="https://avatars1.githubusercontent.com/u/169705?v=3&s=192" class="avatar">
      <p class="message-body">
        <span class="sender">fat</span>
        <time class="sent-date">6:17 PM</time>
        <span class="sent-text">
          can anyone explain why curl -v http://127.0.0.1:3000 returns the expected result, but curl -v http://54.200.145.233:3000 (my IP) times out?
          can anyone explain why curl -v http://127.0.0.1:3000 returns the expected result, but curl -v http://54.200.145.233:3000 (my IP) times out?
        </span>
      </p>
    </div>
    <div class="writing">
      <form ng-submit="sendMsg()">
        <input type="text" ng-model="text" name="text">
        <input type="submit" value="Send">
      </form>
    </div>
  </div>
  <div class="users"></div>
</div>
